@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* index.css or global stylesheet */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
}

::-webkit-scrollbar-thumb {
  background-color: #fb923c; /* Tailwind's orange-400 */
  border-radius: 10;
   /* Optional padding effect */
}

/* Optional: dark mode variation */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #f0c7a8; /* Tailwind's gray-800 */
    border-radius: 10;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(241, 97, 45); /* Tailwind's orange-500 */
  }
}
